{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>{{ object.name }}</h1>
  <hr class="solid">

  <main class="form-detail">
      <div class="mb-3">
        <div>Assigner: {{ object.assigner }}</div>
        <div>Due date: {{ object.due_date }}</div>
        <div>Assignee: {{ object.assignee }}</div>
        <div>Priority Level: {{ object.priority_level }}</div>
        <div>Description: {{ object.description }}</div>
        <div>Completed: {{ object.completed }}</div>
        {% comment %}<label for="exampleInputEmail1" class="form-label">Email22`  address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> {% endcomment %}
  </main>
{% endblock content %}